.has-same-height .card {
  height: 320px;
  overflow: hidden;
}

.card-content h3 {
  text-align: center;
}

.table-profile td,
th {
  border: none !important;
}

.table-profile td:first-of-type {
  font-weight: bold;
}

.skills-content .media {
  margin: 0 !important;
  padding: 4px !important;
  border: 0 !important;
}

.skills-content .progress {
  height: 4px !important;
}

.custom-tags {
  text-align: center !important;
  display: block;
}

.portfolio-container .card {
  margin-bottom: 2em;
}

.section-heading {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 6em;
}

.can-open-content {
  cursor: pointer;
}

.show-more-projects-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.hide-projects-button {
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#project-modal .modal-card header {
  display: block;
}

#project-modal .modal-card header .delete {
  float: right;
}
